* {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif !important;
}

::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox
.food-drinks-wrapper .scroll-wrapper { 
    -ms-overflow-style: none; /* IE and Edge
    scrollbar-width: none; /* Firefox 
} */

body {
    color: white;
    margin: 0;
    font-weight: 100;
}

/* BACKGROUND IMAGES START */
main {
    height: 100vh;
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
}

section {
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
}

.bg-img-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

.bg-img-wrapper img {
    width: 100%;
    height: 100%;
}
/* BACKGROUND IMAGES END */


/* HEADER START */
header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

header h1 {
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
}

header h2 {
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 25px;
}

header h1 a,
header h2 a {
    text-decoration: none;
    color: white;
}

header h1 a:hover,
header h2 a:hover {
    text-shadow: 0 0 2px white;
    color: white;
}
/* HEADER END */


/* SEARCH SECTION START */
.search-section {
    align-items: center;
}

.search-section h1 {
    padding-top: 35vh;
    font-size: 50px;
    font-weight: bold;
}

.search-section form input.search {
    outline: none;
    display: none;
    border-radius: 20px;
    border-style: none;
    width: 300px;
    background-color: rgb(176 176 176 / 45%);
    color: white;
    padding: 5px 0 5px 10px;
    margin: 10px;
    font-size: 20px;
}

.search-section form input.search.active {
    display: block;
}

.search-section form input.search::placeholder {
    color: whitesmoke;
}

.search-section form {
    align-items: center;
    position: relative;
}

.search-section #suggestions-wrapper {
    border-radius: 20px;
    width: 300px;
    background-color: rgb(176 176 176 / 45%);
    max-height: 30vh;
    overflow: auto;
}

/*.search-section #suggestions-wrapper::-webkit-scrollbar {
    display: revert !important;
}

.search-section #suggestions-wrapper::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.6);
    height: 10%;
}

.search-section #suggestions-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
}*/

.search-section #suggestions-wrapper ul {
    list-style: none;
    position: inherit !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    padding: 0;
    font-size: 20px;
    margin: 0px;
}

.search-section #suggestions-wrapper ul li {
    padding: 5px 0 5px 10px;
}

.search-section #suggestions-wrapper ul li:hover {
    background-color: rgb(176 176 176 / 45%);
    border-radius: 20px;
    cursor: pointer;
}

.search-section form .circle-indicator-wrapper {
    position: absolute;
    top: 70px;
}

.search-section form div .circle-indicator {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(176 176 176 / 45%);
}

.search-section form div .circle-indicator.active {
    background-color: rgb(176 176 176 / 45%);
}
/* SEARCH SECTION END */


/* RESULTS SECTION START */
#results-section {
    justify-content: center;
}

#results-section h2 {
    margin-left: .5vw;
}

.recipes-wrapper {
    min-width: 958px;
    height: 75%;
    overflow: hidden;
}

.recipes-wrapper .scroll-wrapper {
    height: 100%;
    overflow-y: scroll;
}

.recipe-cell {
    padding: .5vw;
    position: relative;
}

.recipe-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.5vw;
}

.recipe {
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5vw;
    font-family: Open Sans Light;
}

.recipe:hover {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px black;
    cursor: pointer;
}

.recipes-container {
    padding: 5%;
    height: 100%;
}
/* RESULTS SECTION END */


/* MODAL SECTION START */
.reveal-overlay {
    backdrop-filter: blur(5px);
}

#result-modal {
    background-color: transparent;
    border: none;
    outline: none;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.modal-title {
    text-align: center;
    padding: 100px 10px 0px 10%;
    border-radius: 25px;
}

.circular-image {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 80%;
    margin: 84px 25px 30px 25px;
    display: flex;
    justify-content: center;
}

#source {
    margin: auto;
    text-decoration: underline;
    color:white;
    font-size: 20px;
}

#source:hover {
    text-shadow: 0 0 2px white;
    color: white;
}

#source:visited {
    color: rgb(101, 224, 255);
}

.save-item-container {
    padding: 5px 75px 20px 75px;
    border-radius: 25px;
    height: 55vh;
}

.save-item-container .cell {
    background-color: rgba(80, 80, 80, 0.411);
}

#result-highlight-details {
    padding: 4vh;
    line-height: 2;
}

#instructions,
#ingredients {
    padding-right: 1%;
}

#instructions {
    height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#instructions::-webkit-scrollbar {
    display: revert !important;
}

#instructions::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.6);
}

#instructions::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
}

#ingredients {
    margin: 0;
}

.cell-card {
    border-radius: 25px 0 0 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cell-details {
    border-radius: 0 25px 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.save-btn-wrapper {
    justify-content: center;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

#recipe-save-btn,
#save-shop-btn {
    padding: .5em;
    border: 1px #ddd solid;
    background: linear-gradient(to right, rgba(80, 80, 80, 0.411),rgba(80, 80, 80, 0.411));
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 1s 0s;
    width: 100%;
    border-radius: 25px;
    border:none;
}

#recipe-save-btn:hover,
#save-shop-btn:hover {
    background-size: 100% 100%;
}

#recipe-save-btn:active,
#save-shop-btn:active {
    background: linear-gradient(to right, rgba(99, 173, 130, 0.658), rgba(99, 173, 130, 0.658));
    background-size: 0 100%;
    transition: background-size 4s 4s;
}

/* MODAL SECTION END */


/* SHOPPING SECTION START */
#shopping-section {
    justify-content: center;
}

#shopping-section h2 {
    /*font-size*/
}

.shopping-container {
    border-radius: 5px;
    width: 70vw;
}

.shopping-list-container {
    margin: 1%;
    padding: 5%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.411);
    border-radius: 5%;
}

.meal-shopping-card,
.drink-shopping-card {
    margin: 0;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    max-height: 65vh;
}

.shopping-image {
    border-radius: 50%;
    width: 80%;
}

.shopping-header {
    align-items: center;
    border-bottom: solid 1px rgba(128, 128, 128, 0.5);
}

.recipe-title {
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

#shopping-list {
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-position: inside;
}

#shopping-list li {
    font-size: 1.3em;
    margin-left: 2%;
    font-weight: bold;
}

#shopping-list::-webkit-scrollbar {
    display: revert !important;
}

#shopping-list::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.6);
}

#shopping-list::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
}
/* SHOPPING SECTION END */


/* RECIPES SECTION START */
#recipe-section {
    justify-content: center;
}

#recipe-section h2 {
    margin-left: .5vw;
}

/* RECIPES SECTION END */


/* MEDIA QUERIES START */

/* Media Queries */



/* styles for everything below 1200px width */
@media screen and (max-width: 1200px) {
    #recipe-book-btn {
        width: 20%;
    }

    .search-section h1 {
        padding-top: 35vh;
        font-size: 50px;
        font-weight: bold;
    }

}

@media screen and (max-width: 992px) {

    /* header media queries */
    #recipe-book-btn {
        width: 25%;
    }

    header h1, header h2 {
        font-size: 20px;
    }
    /* end header media queries */
}

@media screen and (max-width: 768px) {

    /* header media queries */
    header h1, header h2 {
        font-size: 20px;
    }

    header h2 {
        padding: 30px 15px;
    }

    #shopping-btn {
        width: 25%;
    }
    /* end header media queries */
}

@media screen and (max-width: 640px) {

    /* header media queries */
    header h1, header h2 {
        width: auto;
        font-size: 15px;
    }
    /*end header media queries */

    /* search section media queries */
    .search-section h1 {
        font-size: 40px;
    }

    .search-section form input.search,
    .search-section #suggestions-wrapper,
    .search-section #suggestions-wrapper ul {
        width: 250px;
        font-size: 15px;
    }
    /* end search section media queries */


    /* results media queries */
    #section-header {
        margin-top: 5vh;
    }

    .recipes-wrapper {
        max-width: 360px;
        height: 80%;
        display: grid;
        grid-row: 2fr;
        width: 80%;
    }

    .recipes-container {
        justify-content: center;
        height: 95%;
    }

    .scroll-wrapper {
        max-width: 300px;
    }




    /* end results media queries */


    /* recipe media queries */

    /* end recipe media queries */
}